CONFIG_LOCALVERSION="-pi4-minimal"
CONFIG_MODULES=n
CONFIG_BLK_DEV_INITRD=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y
CONFIG_EXT4_FS=y
CONFIG_VFAT_FS=y
CONFIG_MSDOS_FS=y
CONFIG_SQUASHFS=n
CONFIG_USB=y
CONFIG_USB_DWCOTG=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_STORAGE=n
CONFIG_USB_NET_SMSC95XX=y
CONFIG_USB_LAN78XX=y
CONFIG_MEDIA_SUPPORT=y
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_RADIO_SUPPORT=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_MEDIA_TEST_SUPPORT=n
CONFIG_VIDEO_V4L2=y
CONFIG_USB_VIDEO_CLASS=y
CONFIG_USB_VIDEO_CLASS_INPUT_EVDEV=n
CONFIG_VIDEO_RP1_CFE=n
CONFIG_VIDEO_RP1_CFE_DOWNSTREAM=n
CONFIG_VIDEO_RASPBERRYPI_PISP_BE=n
CONFIG_VIDEO_BCM2835_UNICAM=n
CONFIG_VIDEO_BCM2835_UNICAM_LEGACY=n
CONFIG_VIDEO_CAMERA_SENSOR=n
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_BRCMFMAC=y
CONFIG_BRCMFMAC_SDIO=y
CONFIG_RFKILL=y
CONFIG_BT=n
CONFIG_SOUND=n
CONFIG_DRM=n
CONFIG_FB=n
CONFIG_INPUT=n
CONFIG_HID=n
CONFIG_SCSI=n
CONFIG_IPV6=n
CONFIG_DVB_CORE=n
CONFIG_W1=n
CONFIG_DEBUG_INFO=n
CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_FS=n
CONFIG_TRACING=n
CONFIG_FTRACE=n
CONFIG_KPROBES=n
CONFIG_KGDB=n
CONFIG_KGDB_KDB=n
CONFIG_BPF=n
CONFIG_BPF_SYSCALL=n
CONFIG_VIRTUALIZATION=n
CONFIG_KVM=n
CONFIG_PCI=n
CONFIG_PCI_ENDPOINT=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_ATA=n
CONFIG_BLK_DEV_NVME=n
CONFIG_USB_UAS=n
CONFIG_NETFILTER=n
CONFIG_BRIDGE=n
CONFIG_NET_DSA=n
CONFIG_WIREGUARD=n
CONFIG_CAN=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_NFS_FS=n
CONFIG_NFSD=n
CONFIG_CIFS=n
CONFIG_SMB_SERVER=n
CONFIG_ECRYPT_FS=n
CONFIG_ISO9660_FS=n
CONFIG_HFS_FS=n
CONFIG_HFSPLUS_FS=n
CONFIG_JFS_FS=n
CONFIG_XFS_FS=n
CONFIG_BTRFS_FS=n
CONFIG_F2FS_FS=n
CONFIG_GFS2_FS=n
CONFIG_OCFS2_FS=n
CONFIG_9P_FS=n
CONFIG_UBIFS_FS=n
CONFIG_JFFS2_FS=n
CONFIG_EXFAT_FS=n
CONFIG_NILFS2_FS=n
CONFIG_CONFIGFS_FS=n
CONFIG_NET_SCHED=n
CONFIG_WATCHDOG=n
CONFIG_RPI_FIRMWARE=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_I2C=y
CONFIG_SPI=y
CONFIG_BINFMT_ELF=y
